*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  color: #eee;
  background: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}
h1{
  color: #cbc;
}
#cabecera { 
  background-color: #222;
  color: #abc;
  width: 100vw;
  padding: 12px ;
  text-align: center;
  
  display: flex;
  justify-content: space-between;
}
#cabecera nav{
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 25px;
}
#cabecera nav a{
  text-decoration: none;
  color: #eee;
}
#cabecera nav a:hover{
  color: #848598;
}
#cabecera h1{
  margin-left: 20px;
}
input[type='text'],input[type='email'], button{
  color: #cbc;
  background: #333;
}
#comment{
  background-color: #333;
  color: #abc;
}