<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title %}forms in flask{% endblock %}</title>
  <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}" >
  <link rel='stylesheet' href="{{ url_for('static', filename='css/formstyle.css') }}" >
</head>
<body>
  <header id='cabecera'>
    <h1>Header</h1>
  </header>

  {% block content %}
  {% endblock content %}
  
</body>
</html>