{% extends "base.html" %}

{% block content %}
{% from '_macro.html' import renderizador_de_campos %}

<h1>Formulario de registro</h1> 
<form method='POST'>
  {{ form.hidden_tag() }}
  <div>
    {{ form.usuario.label }}
    {% if form.usuario.errors %}
      {{ form.usuario }}
      <ul>
        {% for error in form.usuario.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ form.usuario }}
    {% endif %}
  </div>
  <div>
    {{ renderizador_de_campos(form.correo)}}
  </div>

  <div>
    {{ renderizador_de_campos(form.contrasena) }}
  </div>
  <div>
    {{ renderizador_de_campos(form.confirmar_contrasena)}}
  </div>
  <div>
    {{ renderizador_de_campos(form.edad) }}
  </div>

  <button type='submit'>Enviar</button>
</form>

{% endblock content %}