{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock title %}

{% block content %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/tresEnRaya.css') }}">
<div id="gameContainer">
    <h1>Tres en Raya</h1>
    <div id="cellContainer">
        <div indiceCelda="0" class="celda"></div>
        <div indiceCelda="1" class="celda"></div>
        <div indiceCelda="2" class="celda"></div>
        <div indiceCelda="3" class="celda"></div>
        <div indiceCelda="4" class="celda"></div>
        <div indiceCelda="5" class="celda"></div>
        <div indiceCelda="6" class="celda"></div>
        <div indiceCelda="7" class="celda"></div>
        <div indiceCelda="8" class="celda"></div>
    </div>
    <h2 id="estadoTexto"></h2>
    <button id="btnReiniciar">Reiniciar</button>
</div>
<script src="{{ url_for('static', filename='js/tresEnRaya.js') }}"></script>

{% endblock content %}
